@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* DaisyUI Theme Customization */
@layer base {
  :root {
    --p: #f6c1b4;              /* Primary */
    --pc: #1b1b1e;

    --s: #fce3cb;              /* Secondary */
    --sc: #1b1b1e;

    --a: #f8f7f4;              /* Accent */
    --ac: #1b1b1e;

    --n: #1b1b1e;              /* Neutral */
    --nc: #ffffff;

    --b1: #ffffff;             /* Base */
    --b2: #f3f3f7;
    --bc: #1b1b1e;
  }

  [data-theme="dark"] {
    --p: #f6c1b4;
    --pc: #1b1b1e;

    --s: #fce3cb;
    --sc: #1b1b1e;

    --a: #eae7de;
    --ac: #1b1b1e;

    --n: #2c2636;
    --nc: #ffffff;

    --b1: #1b1b1e;
    --b2: #2c2636;
    --bc: #ffffff;
  }
}
