daisyui: {
  themes: [
    {
      light: {
        primary: "#f6c1b4",
        "primary-content": "#1b1b1e",
        secondary: "#fce3cb",
        "secondary-content": "#1b1b1e",
        accent: "#f8f7f4",
        "accent-content": "#1b1b1e",
        neutral: "#1b1b1e",
        "neutral-content": "#ffffff",
        "base-100": "#ffffff",
        "base-200": "#f3f3f7",
        "base-content": "#1b1b1e",
      },
      dark: {
        primary: "#f6c1b4",
        "primary-content": "#1b1b1e",
        secondary: "#fce3cb",
        "secondary-content": "#1b1b1e",
        accent: "#eae7de",
        "accent-content": "#1b1b1e",
        neutral: "#2c2636",
        "neutral-content": "#ffffff",
        "base-100": "#1b1b1e",
        "base-200": "#2c2636",
        "base-content": "#ffffff",
      },
    },
  ],
}
